.Toolbar{
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a3d45;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;  
  /* margin: 1rem; */

}
.Toolbar nav{
  height: 100%;
  width: 100%;
  color: #c1cfda;

  
}
.Logo{
  height: 70%;
  margin: 0 30px;
}

@media (max-width: 499px){
  .DesktopOnly{
    display: none;
  }
}

@media (min-width: 500px){
  .MobileOnly{
    display: none;
  }
}
